#login-form, #register-form{
	width: 500px;
	margin: 10px;
}

.chat{
	margin-top: 10px;
	width: 70%;
	text-align: left;
}

.top-box{
	height: 500px;
	min-height: 83%;
	display: flex;
	border: 2px solid #ddd;
}

.chat-room-container{
	vertical-align: top;
	width: calc(100% - 200px);
}

.tabs-container{
	padding: 5px 2px;
	height: 41px;
}

.tabs-container .tab{
	cursor: pointer;
	display: inline-block;
	padding: 3px 10px;
	margin-left: 10px;
	border: 2px solid #337ab7;
	border-radius: 13px;
}

.tabs-container .tab button{
	margin-left: 10px;
}

.tabs-container .tab.active{
	cursor: default;
	background-color: #337ab7;
	color: #f7f7f9;
}

.message-list{
	border-top: 2px solid #ddd;
	padding: 5px 2px;
	height: 455px;
	overflow-y: scroll;
}

.user-list{
	padding: 8px;
	vertical-align: top;
	width: 200px;
	background-color: #f7f7f9;
}


.bottom-box{
	margin-top: 20px;
	height: 200px;
	display: flex;
}

.message-container{
	vertical-align: top;
	width: calc(100% - 300px);
}

.message-container textarea{
	width: 100%;
	height: 131px;
}

.chat-room-selector{
	padding-left: 20px;
	vertical-align: top;
	width: 300px;
}

